.tt-from-table{
    margin-bottom: 10px;
}
/*.tt-from-button{
    float: right;
}*/
@media (min-width: 768px){
    .tt-from-input{
        margin-right: 10px;
    }
}
@media (min-width: 992px){
}
@media (min-width: 1200px){
}